@import '../../style/_VarMix.scss';

.project {
    width: 90%; 
    margin-left: 40px;
    padding: 0px;
    max-height: 500px;
    &__container {
        height: 100%;
        justify-content: space-between;
        display: flex;
    }
    &--image-left {
        display: flex; 
        animation: slideInFromRight 1s ease-out forwards; 
        @include card;
        padding: 0px;
          .project__content {
            order: 1; // Le contenu texte vient ensuite
          }
        }
    &--image-right {
        display: flex;
        animation: slideInFromLeft 1s ease-out forwards; 
        @include card;
        padding: 0px;
        .project__img {
            order: 1; // L'image vient en premier
          }
        
          .project__content {
            order: 2; // Le contenu texte vient ensuite
          }
        }
    &__text {
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        justify-content: space-between;
        max-height: 400px;
    }
    &__name{
        margin-top: 10px;
        margin-bottom: 0px;
        color: white;
        font-size: 38px;
        font-family: 'titles', sans-serif;
        text-decoration: underline;
    }
    &__desc {
        color: white;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 22px;
        font-family: 'catamaran', sans-serif;
        font-weight: 400;

    }
    &__img {
        max-width: 50%;
        border: solid 1px black;
        border-radius: 10px;
        max-height: 400px;
    }
    &__url {
        color: white;
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 28px;
        font-weight: 600;
        @include button;
        text-decoration: none;
        padding: 12px;
    }
    &__tags {
        width: 100%;
        display: flex;
        gap: 3%;
        //justify-content: flex-end;
    }
    &__tag {
        margin: 0px;
        background: rgba(249, 75, 1, 0.5);
        padding: 5px;
        border-radius: 5px;
    }
}

@media (max-width: 1095px) {
    .project {
        width: 80%;
        max-height: 2000px;
        margin-bottom: 25px;
        &__container {
            flex-direction: column;
        }
        &__img {
            max-width: 100%;
        }
        &__name{
            font-size: 32px;

        }
        &__desc {
            font-size: 16px;
        }
        &__tags {
            flex-wrap: wrap;
            row-gap: 10px;
        }
        &__tag {
        }
        &--image-right {
            .project__text {
                order: 2;
            }
        }

    }
}