@import '../../style/_VarMix.scss';

.contact-border {
  height: calc(100vh - 88px);
  background-color: $primary-color;
  padding-left: 7%;

}
.contact {
    border-left: 2px solid white;
    height: calc(100vh - 88px);
    &__title {
        color: white;
        font-family: 'titles' sans-serif;
        text-align: center;
        font-size: 28px;
    }
    &__container {
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;

    }
    &__form {
        background: $card-color;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
        width: 100%;
        max-width: 500px;
    }
    &__input {
        display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }
    &__button {
        @include button;
        margin-left: 30%;
        width: 40%;
        height: 40px;
    }
}
label {
    color: white;
    margin-bottom: 5px;
    font-size: 18px;
  }

  input, textarea {
    font-size: 16px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;

    &:focus {
      border-color: #007bff;
      outline: none;
    }
  }
  textarea {
    height: 150px;
    resize: none; // Empêche l'utilisateur de redimensionner le textarea
  }

  @media (max-width: 1095px) {
    .contact-border {
      padding: 0%;
      height: calc(100vh - 132px);
    }
    .contact {
      padding-left: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: calc(100vh - 132px);
      border: 0px;

      &__container {
        border: 0px;
        width: 80%;

      }
      &__title {
        margin-top: 0px;
      }
    }
  }
