
$primary-color: rgb(31, 31, 31);
$secondary-color: linear-gradient(to bottom, #ff7b34, #fc4c01);
$card-color: linear-gradient(to right bottom, #373737, #333333, #2f2f2f, #2b2b2b, #272727);

@mixin button {
    background: linear-gradient(to bottom, #ff7b34, #fc4c01);
    border-radius: 35px;
    padding: 5px 20px 5px 10px;
    font-size: 16px;
    color: white; 
    border: none;
    cursor: pointer;     
    &:hover {
      background: linear-gradient(to bottom, darken(#ff7b34, 10%), darken(#fc4c01, 10%));
    }
}

@font-face {
    font-family: 'titles';
    src: url('./fonts/LeagueSpartan-Bold.otf') format('opentype');
  }

@mixin card {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); // Ombre pour un effet de "levage"
    border-radius: 8px; // Bordures arrondies
    background: $card-color;
    color: white;
}

@keyframes slide {
  0% {
      opacity: 0;
      transform: translateY(10%)
  }
  100% {
      opacity: 1;
      transform: translateY(0%)
  }

}

@keyframes grow {
  0% {
    transform: scale(0);
    opacity: 0; /* L'image est complètement transparente au début */
  }
  1% {
    opacity: 1; /* L'image devient complètement opaque dès que l'animation commence */
  }
  100% {
    transform: scale(1);
    opacity: 1; /* L'image reste opaque après l'animation */
  }
}
