@import '../../style/VarMix';

.project-page {
    border-left: 2px solid white;
    min-height: calc(100vh - 95px);
    padding-top: 40px;
    &__container {
        padding-left: 3%;
        display: flex;
        flex-direction: column;
    }
    &__title {
        padding-top: 30px;
        margin-top: 0px;
        color: white;
        margin-bottom: 40px;
        font-size: 62px;
    }
    &__projects {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    &__header {
        display: flex;
        gap: 60px;
        align-items: center
    }
    &__button {
        @include button;
        height: 50px;
        width: 15%;
        
    }
}

.project-page-over {
    background-color: $primary-color;
    padding-left: 7%;
    z-index: -2;
}