@import '../../style/VarMix';


.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    @include card;
    position:fixed;
    transform: translateX(50vh) translateY(-40px);
    z-index: 2;
    width: 25%;
    &__button-close {
        @include button;
        margin-left: 80%;
    }
    &__duo {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &__button {
        @include button
    }
    &__input {
        &-text {
            height: 80px;
        }
    }
}